.root {
  width: 800px;
  height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0px;
}

.body {
  width: 100%;
  height: 90%;
  border-radius: 0px 0px 12px 12px;
  background-color: #2c001e;
  padding: 20px;
}

.neofetchOutput {
  padding-left: 2px;

  display: flex;
  flex-direction: row;
  gap: 20px;
}

.titleBar p {
  font-size: 13.5pt;
  color: #605557;
  margin-left: 180px;
}

.body p {
  font-size: 13.5pt;
  color: #c9c0c6;
  line-height: 1.2;
}

.body br {
  line-height: 1.2;
}

.body a:hover {
  background-color: rgba(79, 75, 78, 0.75);
  text-decoration: underline;
}

.titleBar {
  width: 100%;
  height: 10%;
  border-radius: 12px 12px 0px 0px;
  background-color: #c9c0c6;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
}

.titleBarButton {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
